/mooc-java-programming-i/part01-Part01_25.CheckYourIndentation/target/
/mooc-java-programming-i/part01-Part01_24.SpeedingTicket/target/
/mooc-java-programming-i/part01-Part01_26.Orwell/target/
/mooc-java-programming-i/part01-Part01_27.Ancient/target/
/mooc-java-programming-i/part01-Part01_28.Positivity/target/
/mooc-java-programming-i/part01-Part01_29.Adulthood/target/
/mooc-java-programming-i/part01-Part01_30.LargerThanOrEqualTo/target/
/mooc-java-programming-i/part01-Part01_31.GradesAndPoints/target/
/mooc-java-programming-i/part01-Part01_33.Password/target/
/mooc-java-programming-i/part01-Part01_34.Same/target/
/mooc-java-programming-i/part01-Part01_35.CheckingTheAge/target/