/mooc-java-programming-i/part01-Part01_25.CheckYourIndentation/target/
/mooc-java-programming-i/part01-Part01_24.SpeedingTicket/target/
/mooc-java-programming-i/part01-Part01_26.Orwell/target/
/mooc-java-programming-i/part01-Part01_27.Ancient/target/
/mooc-java-programming-i/part01-Part01_28.Positivity/target/
/mooc-java-programming-i/part01-Part01_29.Adulthood/target/
/mooc-java-programming-i/part01-Part01_30.LargerThanOrEqualTo/target/
/mooc-java-programming-i/part01-Part01_31.GradesAndPoints/target/
/mooc-java-programming-i/part01-Part01_33.Password/target/
/mooc-java-programming-i/part01-Part01_34.Same/target/
/mooc-java-programming-i/part01-Part01_35.CheckingTheAge/target/
/mooc-java-programming-i/part02-Part02_07.OnlyPositives/target/
/mooc-java-programming-i/part02-Part02_08.NumberOfNumbers/target/
/mooc-java-programming-i/part02-Part02_09.NumberOfNegativeNumbers/target/
/mooc-java-programming-i/part02-Part02_10.SumOfNumbers/target/
/mooc-java-programming-i/part02-Part02_11.NumberAndSumOfNumbers/target/
/mooc-java-programming-i/part02-Part02_14.Counting/target/
/mooc-java-programming-i/part02-Part02_15.CountingToHundred/target/
/mooc-java-programming-i/part02-Part02_16.FromWhereToWhere/target/
/mooc-java-programming-i/part02-Part02_21.InAHoleInTheGround/target/
/mooc-java-programming-i/part02-Part02_22.Reprint/target/
/mooc-java-programming-i/part02-Part02_23.FromOneToParameter/target/
/mooc-java-programming-i/part02-Part02_24.FromParameterToOne/target/
/mooc-java-programming-i/part02-Part02_27.NumberUno/target/
/mooc-java-programming-i/part02-Part02_28.Word/target/
/mooc-java-programming-i/part02-Part02_04.ComparingNumbers/target/
/mooc-java-programming-i/part04-Part04_01.YourFirstAccount/target/